TYPE=Ethernet
BOOTPROTO=none
NAME=ens192
DEVICE=ens192
ONBOOT=yes
IPADDR=${ip_address}
PREFIX=${element(split("/", machine_cidr), 1)}
GATEWAY=${gateway}
DOMAIN=${cluster_domain}
%{ for index, ip in dns ~}
DNS${index+1}=${ip}
%{ endfor ~}